<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art.app.orm.dao.ComplainRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.art.app.orm.entity.ComplainRecord">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="type" property="type" />
        <result column="res_id" property="resId" />
        <result column="reject_reason" property="rejectReason" />
        <result column="reject_message" property="rejectMessage" />
        <result column="del_flag" property="delFlag" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id as userId, type, res_id AS resId, reject_reason AS rejectReason, reject_message AS rejectMessage, del_flag AS delFlag, created_at AS createdAt, updated_at AS updatedAt
    </sql>

</mapper>
