<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art.app.orm.dao.InviteAssociationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.art.app.orm.entity.InviteAssociation">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="invite_id" property="inviteId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, invite_id AS inviteId, created_at AS createdAt, updated_at AS updatedAt, del_flag AS delFlag
    </sql>

</mapper>
