<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art.app.orm.dao.MemberDescriptionInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.art.app.orm.entity.MemberDescriptionInfo">
        <id column="id" property="id"/>
        <result column="member_level" property="memberLevel"/>
        <result column="member_level_version" property="memberLevelVersion"/>
        <result column="member_level_name" property="memberLevelName"/>
        <result column="content" property="content"/>
        <result column="duration" property="duration"/>
        <result column="duration_unit" property="durationUnit"/>
        <result column="price" property="price"/>
        <result column="promotion" property="promotion"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_level AS memberLevel, member_level_version AS memberLevelVersion, member_level_name AS memberLevelName, content, duration, duration_unit AS durationUnit, price, promotion, created_at AS createdAt, updated_at AS updatedAt, del_flag AS delFlag
    </sql>

</mapper>
