<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art.app.orm.dao.OperationConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.art.app.orm.entity.OperationConfig">
        <id column="id" property="id" />
        <result column="ref" property="ref" />
        <result column="resource_ids" property="resourceIds" />
        <result column="type" property="type" />
        <result column="del_flag" property="delFlag" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ref, resource_ids AS resourceIds, type, del_flag AS delFlag, created_at AS createdAt, updated_at AS updatedAt
    </sql>

</mapper>
