<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art.app.orm.dao.ReadRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.art.app.orm.entity.ReadRecord">
        <id column="id" property="id" />
        <result column="resource_id" property="resourceId" />
        <result column="user_id" property="userId" />
        <result column="type" property="type" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, resource_id AS resourceId, user_id AS userId, type, created_at AS createdAt, updated_at AS updatedAt, del_flag AS delFlag
    </sql>

</mapper>
