<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art.app.orm.dao.TrainingClassMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.art.app.orm.entity.TrainingClass">
        <id column="id" property="id"/>
        <result column="sn_id" property="snId"/>
        <result column="user_id" property="userId"/>
        <result column="read_num" property="readNum"/>
        <result column="like_num" property="likeNum"/>

        <result column="like_num" property="likeNum"/>
        <result column="title" property="title"/>
        <result column="url" property="url"/>
        <result column="thumb_url" property="thumbUrl"/>
        <result column="description" property="description"/>
        <result column="content" property="content"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="del_flag" property="delFlag"/>

        <result column="is_group" property="isGroup"/>
        <result column="is_signup" property="isSignUp"/>
        <result column="rule" property="rule"/>
        <result column="status" property="status"/>
        <result column="price" property="price"/>
        <result column="apply_start_time" property="applyStartTime"/>
        <result column="apply_stop_time" property="applyStopTime"/>
        <result column="class_start_time" property="classStartTime"/>
        <result column="class_stop_time" property="classStopTime"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sn_id AS snId, user_id AS userId, read_num AS readNum, like_num AS likeNum,
        is_signup AS isSignUp, is_group AS isGroup, rule, status, price, apply_start_time AS applyStartTime,
         apply_stop_time AS applyStopTime, class_start_time AS classStartTime, class_stop_time AS classStopTime,
        title, url, thumb_url AS thumbUrl, description, content, created_at AS createdAt, updated_at AS updatedAt, del_flag AS delFlag
    </sql>

</mapper>
