<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art.app.orm.dao.VersionControlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.art.app.orm.entity.VersionControl">
        <id column="id" property="id" />
        <result column="os" property="os" />
        <result column="version_name" property="versionName" />
        <result column="update_version_code" property="updateVersionCode" />
        <result column="update_version_name" property="updateVersionName" />
        <result column="force_update" property="forceUpdate" />
        <result column="update_log" property="updateLog" />
        <result column="update_version_url" property="updateVersionUrl" />
        <result column="update_version_icon" property="updateVersionIcon" />
        <result column="del_flag" property="delFlag" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, os, version_name AS versionName, update_version_code AS updateVersionCode, update_version_name AS updateVersionName, force_update AS forceUpdate, update_log AS updateLog, update_version_url AS updateVersionUrl, update_version_icon AS updateVersionIcon, del_flag AS delFlag, created_at AS createdAt, updated_at AS updatedAt
    </sql>

</mapper>
